@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,html{
  margin:0;
  padding:0;
  font-size:12px;
  background-color:#fafafa;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
